@charset "UTF-8";

main {
    background-color: var(--cor-fundo);
    font-size: 14px;
    font-weight: 400;
}

.home {
    margin: 0 75px;
}

.content_noticias {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 4.8rem;
    text-align: center;
    background-color: var(--cor-fundo-content1);
    margin: 32px 0;
}

.content-text-noticias {
    color: var(--cor-letras-cont);
}

.content-text-noticias > h1 {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.75;
    margin-bottom: 2.4rem;
}

.content-text-noticias > p {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.75;
    margin-bottom: 32px;
}


@media screen and (max-width: 1400px){
    .content_noticias > .content-text-noticias > h1 {
        font-size: 1.6rem;
    }

    .content_noticias > .content-text-noticias > p {
        font-size: 16px;
    }
}

@media screen and (max-width: 1090px){
    .content_noticias > .content-text-noticias > p {
        font-size: 15px;
    }

}

@media screen and (max-width: 590px) {  
    .home {
        margin: 0 25px;
    }

    .content_noticias {
        padding: 1rem 3rem;
    }
}

@media screen and (max-width: 420px) {  
    .home {
        margin: 0;
    }
}

@media screen and (max-width: 350px) {  
    .content_noticias > .content-text-noticias > h1 {
        font-size: 1.3rem;
    }
}